body {
    font-family: 'Outfit', sans-serif;
    background-color: #D5E1EF;
}

#qr-text {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: #A9A9A9;
    letter-spacing: -0.5px;
}

#qr-header {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.5px;
}

#qr-text, #qr-header {
    padding-left: 17px;
    padding-right: 17px;
}

#qrcodeimage {
    align-content: center;
    margin-top: 15px;
    border-radius: 10px;
}

#qrcode {
    width: 280px;
    background-color: white;
    text-align: center;
   
    height: 430px;
    position: absolute;               
    top: 50%;    
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    margin-left: auto;
    margin-right: auto;
   border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
  
}

